.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 325px;
  height: 205px;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.card__link {
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: 20px;
}

.card_color_green {
  background-color: #64d583;
}

.card_color_blue {
  background-color: #91a8f9;
}

.card_color_orange {
  background-color: #ee955e;
}

.card_color_pink {
  background-color: #ee92d7;
}

.card_color_purple {
  background-color: #aa8ef0;
}

.card_color_yellow {
  background-color: #f5d770;
}

.card_color_white {
  background-color: #fff;
}

.card__title {
  margin: 0;
  color: #1a1a1a;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__card-count {
  margin: 0;
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.card__btn {
  position: relative;
  z-index: 2;
  display: block;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  cursor: pointer;
  opacity: 50%;
}

.card__btn:hover {
  opacity: 100%;
}

.card__btn_type_flip {
  background-image: url("../images/flip.svg");
}

.card__btn_type_delete {
  background-image: url("../images/delete.svg");
}